.sidebar{
    width: 95% ;
    height: 95vh ;
    border-radius: 20px ;
    text-align: center ;
    background: var(--main-color);
    margin: 2.5vh auto ;
    padding: 35px 0;
    overflow-y: scroll;
}
.logdProfilePicDiv{
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    background: green ;
    margin: 0 auto ;
    overflow: hidden ;
}
.logdProfilePic{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.logdProfileName{
    margin-top: 20px;
    text-transform: capitalize;
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}
.sidebarIcons{
    margin-top: 80px;
}
.sidebarIcons li{
    margin-top: 40px;
}
.active{
    position: relative;
    z-index: 1;
}
.active a{
    color: var(--main-color);
}
.active::before{
    content: "";
    position: absolute;
    top: 42%;
    right: 0;
    transform: translateY(-50%);
    width: 80%;
    height: 110px;
    border-radius: 20px 0 0 20px;
    background: #fff;
    z-index: -1;
}
.active::after{
    content: "";
    position: absolute;
    top: 42%;
    right: 0;
    transform: translateY(-50%);
    width: 5%;
    height: 110px;
    border-radius: 20px 0 0 20px;
    background: var(--main-color);
    z-index: -1;
    box-shadow: -16px -1px 10px -6px rgba(0,0,0,0.50);
}
.sidebarIcon{
    font-size: 70px;
    color: #BAD1FF;
    margin: 0 auto;
}
